

<!-- Add a custom HTML form to the ingredients table on the recipes detail page with its action pointing to the URL of the view you registered in the previous step -->


{% extends 'base.html' %}

{% block content %}
  
<main>
    <h1>Your shopping list </h1> 
    <div>
    <form method ="post" action="{% url 'delete_all_shopping_items' %}"> "
        {% csrf_token %} 
        <button class="button">Delete All</button>
    </form>
</div>
    <ul> 
        {% for item in shoppingitem_list %}: 
            <li>{{item.food_item.name}}</li>
        {% endfor %}  
    </ul>
</main>
{% endblock content %}


